 /*Navigation Bar*/
.navbar{
  position: fixed;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
   background-color: #8ac926; 
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 999;
 
}
.navbar.sticky{
  
  padding: 15px 0;
  background-color: #29bf12;
  
}

.max-width{
  max-width: 1300px;
  padding: 0px 80px;
  margin: auto;
}
.navbar .max-width{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.navbar .logo a{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  
}
.navbar.sticky .logo a span{
  color: #fff;
}
.navbar .logo a span{
  color: #29bf12;
  transition: all 0.3s ease;
}
.navbar .menu li{
  list-style: none;
  display: inline;
 
}
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s ease;
}
.navbar .menu li a:hover{
  color:#29bf12;
}
.navbar.sticky .menu li a:hover{
  color:#fff;
}
.menu-btn{
  color: #fff;
  cursor: pointer;
  font-size: 23px;
  display: none;

}